@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Timestamp</th>
            <th>Response</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var email in Model.Emails)
    {
        <tr>
            <td>
                @email.Id
            </td>
            <td>
                @email.Subject
            </td>
            <td>
                @email.Timestamp
            </td>
            <td>
                @email.Response
            </td>
            <td>
                @email.Status
            </td>
        </tr>
    }
    </tbody>
</table>
